body {
  background-color: #eeeeee; }

h1 {
  font-size: 25px;
  line-height: 35px;
  margin: 0px;
  font-family: Montserrat, Lato;
  text-transform: uppercase;
  color: #e64a19; }

a.btn {
  color: white !important; }

strong {
  font-weight: 700; }

.input-field label {
  color: #e64a19; }

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e64a19;
  box-shadow: 0 1px 0 0 #e64a19; }

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e64a19; }

.input-field input[type=text]:focus + label {
  color: #e64a19; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #e64a19;
  box-shadow: 0 1px 0 0 #e64a19; }

.input-field input[type=text].valid {
  border-bottom: 1px solid #e64a19;
  box-shadow: 0 1px 0 0 #e64a19; }

.input-field input[type=text].invalid {
  border-bottom: 1px solid #e64a19;
  box-shadow: 0 1px 0 0 #e64a19; }

.input-field .prefix.active {
  color: #e64a19; }

.container {
  background-color: white;
  border-left: 5px solid #efefef;
  border-right: 5px solid #efefef; }

.logo {
  font-size: 30px;
  font-family: Montserrat, Lato;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333; }
  .logo span {
    color: #e64a19; }
  .logo a {
    color: #333333; }

main .container {
  padding-bottom: 1px; }

.post-list a {
  color: #e64a19;
  transition: all 0.2s; }
  .post-list a:hover {
    color: #bf360c; }
  .post-list a:active {
    color: #bf360c; }
  .post-list a:focus {
    color: #bf360c; }
.post-list .pagination {
  margin-bottom: 20px; }

.post h1 {
  font-size: 25px;
  line-height: 35px;
  margin: 0px;
  font-family: Montserrat, Lato;
  text-transform: uppercase; }
.post h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0px; }
  .post h3 a {
    color: #333333;
    transition: all 0.2s; }
    .post h3 a:hover {
      color: #e64a19; }
    .post h3 a:active {
      color: #e64a19; }
    .post h3 a:focus {
      color: #e64a19; }
.post p a {
  color: #e64a19;
  transition: all 0.2s; }
  .post p a:hover {
    color: #bf360c; }
  .post p a:active {
    color: #bf360c; }
  .post p a:focus {
    color: #bf360c; }
.post.single {
  margin-bottom: 20px; }
.post img {
  max-width: 100%; }
.post .links {
  font-family: Montserrat, Lato;
  text-transform: uppercase; }
.post .share {
  margin-top: 20px; }
  .post .share h4 {
    margin: 0px;
    color: #e64a19;
    font-size: 16px;
    font-family: Montserrat, Lato;
    text-transform: uppercase;
    line-height: 20px; }
.post .col {
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede; }

.sidebar h3 {
  margin: 0px;
  color: #e64a19;
  font-size: 16px;
  font-family: Montserrat, Lato;
  text-transform: uppercase;
  line-height: 20px; }
.sidebar ul li a {
  color: #999;
  transition: all 0.2s; }
  .sidebar ul li a:hover {
    color: #e64a19; }
  .sidebar ul li a:active {
    color: #e64a19; }
  .sidebar ul li a:focus {
    color: #e64a19; }
.sidebar a {
  color: #e64a19;
  transition: all 0.2s; }
  .sidebar a:hover {
    color: #bf360c; }
  .sidebar a:active {
    color: #bf360c; }
  .sidebar a:focus {
    color: #bf360c; }
.sidebar img {
  max-width: 100%; }

footer {
  color: #999;
  font-size: 12px; }
  footer .container {
    border-top: 1px solid #dddddd;
    padding-bottom: 1px; }
    footer .container .row {
      margin-bottom: 10px;
      margin-top: 10px; }
  footer a {
    color: #888; }

.alert {
  background-color: #ffab91;
  color: #bf360c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; }
  .alert ul {
    margin: 0px; }

.success {
  background-color: #c8e6c9;
  color: #1b5e20;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; }

.pagination {
  overflow: hidden;
  margin: 10px 0px; }
  .pagination li {
    line-height: 30px;
    margin: 0 2px; }
    .pagination li i {
      line-height: 1; }

/*# sourceMappingURL=app.css.map */